# Auxillary Files
*__pycache__*
.DS_Store
*.Rhistory

# Output Files
data/tile-coords.csv

# Fasta
*\.fa
*\.fasta
*\.fastq
# Include the reference
!data/NC_045512.fa
!data/unit-tests/*

# Spreadsheets
*\.csv
!data/maps/locations.csv
!data/omicron_v_pango.csv
*\.tsv
!data/nCoV-2019.tsv

# Archives
*\.gz
*\.xz
*\.zip

# Saved dictionaries
*\.json

# Working folder
working/*

# Text files in the /data folder
data/*txt
