# Auxillary Files
*__pycache__*
.DS_Store
*.Rhistory

# Data directories (from Langley)
uploads/*
results/*

# Output Files
data/tile-coords.csv
*bin

# Fasta
*\.fa
*\.fasta
*\.fastq
# Include the reference
!data/NC_045512.fa
!data/unit-tests/*

# Spreadsheets
*\.csv
!data/maps/locations.csv
!data/maps/sampling-locations.csv
!data/omicron_v_pango.csv
*\.tsv
!data/nCoV-2019.tsv

# Archives
*\.gz
*\.xz
*\.zip

# Saved dictionaries
*\.json

# Working folder
working/*

# Text files in the /data folder
data/*txt

# Images
*.png

# Report template files
reports/*.aux
reports/*.pdf
reports/*.log
reports/*.html
results/*.pdf

# ms - nothing but tex
methods_ms/*
!methods_ms/gromstole_methods.tex

